**Assignment : Python - Data Structure**

In [ ]:

THEORY

#1.What are data structures, and why are they important ?
⦁	Data structures are a specific way of organizing data in a specialized format on a computer so that the information can be organized, processed, stored, and retrieved quickly and effectively

2.  Explain the difference between mutable and immutable data types with examples.
⦁	Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can't be changed. List, Sets, and Dictionary in Python are examples of mutable data types. int, float, bool, string, Unicode, and tuple are examples of immutable data types.

3. What are the main differences between lists and tuples in Python?
⦁	The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists.

4. Describe how dictionaries store data in python.
⦁	Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5.  Why might you use a set instead of a list in Python?
⦁	Sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage. A set is a collection which is unordered, unchangeable*, and unindexed.

6.  What is a string in Python, and how is it different from a list ?
⦁	A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7.  How do tuples ensure data integrity in Python ?
⦁	Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8. What is a hash table, and how does it relate to dictionaries in Python ?
⦁	 In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function. Also, the order of data elements in a dictionary is not fixed.

9. Can lists contain different data types in Python ?
⦁	Lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.

10.  Explain why strings are immutable in Python?
⦁	String is immutable in Phyton to ensure security, thread safety, and simplify memory management by preventing its state from being changed once created.

11. What advantages do dictionaries offer over lists for certain tasks?
⦁	A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

12. Describe a scenario where using a tuple would be preferable over a list.
⦁	We use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than list.For example if we need to store the data of employee ID we should use tuple so that it cannot be changed.

13.  How do sets handle duplicate values in Python ?
⦁	Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14. How does the “in” keyword work differently for lists and dictionaries ?
⦁	For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not ?
⦁	Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

16. What is a nested dictionary, and give an example of its use case?
⦁	In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB . They are two dictionary each having own key and value.

17. Describe the time complexity of accessing elements in a dictionary.
⦁	The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup. Why O(1)? Hash tables use the hash of the key to find the memory location which enables direct access.

18.  In what situations are lists preferred over dictionaries?
⦁	For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
⦁	Basically, The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
⦁	A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [ ]:
PRACTICAL

In [ ]:
# 1. Write a code to create a string with your name and print it ?
name=("jyoti")

In [ ]:
name

'jyoti'

In [ ]:
print(name)

jyoti

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
"Hello world"

'Hello world'

In [ ]:
len("Hello world")

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_tuple = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

In [ ]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# 19 . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in my_dict
print(city_exists)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [10, 20, 30, 40, 50]


my_tuple = ("red", "green", "blue")


my_dict = {"name": "Alice", "age": 25, "city": "New York"}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40, 50]
Tuple: ('red', 'green', 'blue')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [5, 62, 68, 87, 97]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print("Third Element:", third_element)

Third Element: cherry

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print("Set:", my_set)

Set: {'apple', 'banana', 'cherry'}